#letterListDiv {
    display: flex;
  flex-direction: column;     /* stack flex items vertically */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center;
}

#letterListDiv > * {
    padding: 0px;
    margin: 0px;
} 